<div class="container w-50 p-5 text-center mt-5 " style="background-color: rgba(0, 0, 0, 0.223); border-radius: 30px;">
    <h2 class="text-white">Sign up to your Bank Account</h2>
    <form action="">
        <div class="mt-5 p-2">
            <input  id="unamid" name="usern1" class="form-control p-2" type="text" placeholder="User name">
        </div>

        <div class="mt-4 p-2">
            <input   id="acid" name="acnum1" class="form-control p-2" type="text" placeholder="Account number">
        </div>
        
        <div class="mt-4 p-2">
            <input  id="psw1" name="paswrd1" class="form-control p-2" type="password" placeholder="Password">
        </div>

        <div class="mt-4">
            <button class="btn btn-outline-info btn border-2" type="button" (click)="register()" >Register</button>
        </div>

        <div class="text-white text-center mt-4"><strong>Already have an account ? </strong>
            <a style="text-decoration: none; color: rgb(0, 170, 255);" routerLink=""><strong>Login</strong></a></div>
    </form>
</div>

